/Datasets/spider/
/desktop.ini
/Models/meta-llama/
/Models/desktop.ini
/.idea/sshConfigs.xml
/.idea/webServers.xml
/cache/ds_z2_config.json
/cache/ds_z2_offload_config.json
/cache/ds_z3_config.json
/cache/ds_z3_offload_config.json
/cache/user_config.yaml
