/Datasets/spider/
/desktop.ini
/Models/desktop.ini
/.idea/sshConfigs.xml
/.idea/webServers.xml
/cache/ds_z2_config.json
/cache/ds_z2_offload_config.json
/cache/ds_z3_config.json
/cache/ds_z3_offload_config.json
/cache/user_config.yaml
/Models/
/src/llamafactory/
/.idea/.gitignore
/.idea/deployment.xml
/.idea/Mercury-SQL.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/Datasets/BIRD_dev/
